[user]
        name = Tanner Smith
        email = email@email.com 
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributers = !$ZSH/bin/git-rank-contributers
        count   = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
[core]
        excludesfile = ~/.gitignore
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
